<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <falcon>
            <configuration>
                <cache_url>falcon/cache/url</cache_url>
            </configuration>
        </falcon>
    </default>
</config>
